@font-face {
    font-family: "bold";
    src: url(/main/assest/font/IRANSansXFaNum-Bold.woff);
}

@font-face {
    font-family: "regular";
    src: url(/main/assest/font/IRANSansXFaNum-Regular.woff);
}

@font-face {
    font-family: "black";
    src: url(/main/assest/font/IRANYekanXVF.woff);
}

@font-face {
    font-family: "iran";
    src: url(/main/assest/font/IRAN_Black.ttf);
}

.regular{
    font-family: "regular";
}

.bold{
    font-family: "bold";
}

:root{
    --h1-font-size: 3.583rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 1rem;
    --h6-font-size: 0.8rem;
    --body-font-size: 1rem;
    --small-font-size: 0.833rem;
    --tiny-font-size: 12px;
    --byte-font-size : 0.75rem;
    --main-bg-color : #ffffff;
    --bg1-color : #f5f5f5;
    --bg2-color : #d0d0d0;
    --bg3-color : #111;
    --bg4-color : #CACACB ;
    --main-font-color : #111111;
    --bg-hover-color :#e8c7c7;
    --text-menu-color : #707072;
    --bg-body-w-menu-i-o : #080b0d;
    --bg-border-color : #e5e5e5;
    --category-prodcut-color : #9E3500;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "regular";
    color: var(--main-font-color);
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

p{
    font-family: 'regular';
}

p , h1 , h2 , h3 , h4 , h5 ,h6 {
    text-align: center;
}

body{
    font-size: var(--body-font-size);
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}

h4{
    font-size: var(--h4-font-size);
}

h5{
    font-size: var(--h5-font-size);
}

h6{
    font-size: var(--h6-font-size);
}

a{
    text-decoration: none;
}

ul,li{
    list-style-type: none;
}

img{
    max-width: 100%;
    display: block;
}

span{
    color: var(--text-menu-color);
}

.top-header{
    padding: 10px 48px;
    background-color: var(--bg1-color);
}   

header .container .top-header .desktop-brandList{
    justify-content: flex-start;
    gap: 30px;
}

header .container .top-header .user-menu-wrapper{
    justify-content: flex-end;
}

header .container .top-header .user-menu-wrapper .desktop-list{
    gap: 10px;
}

header .container .top-header .user-menu-wrapper .desktop-list li a p {
    font-size: var(--byte-font-size);
}

header .container .main-header{
    justify-content: space-between;
}

header .container .main-header .fa-ca-sa{
    width: 30%;
    justify-content: flex-start;
    gap: 10px;
}

header .container .main-header .fa-ca-sa .cart{
    position: relative;
}

header .container .main-header .fa-ca-sa .cart .count-of-prodict-cart{
    position: absolute;
    top: -8px;
    font-size: 12px;
}

header .container .main-header .fa-ca-sa .mobile-menu{
    display: none;
}

header .container .main-header .fa-ca-sa .signin-signup{
    display: none;
}

header .container .main-header div .input-search-icon{
    width: max-content;
    padding: 3px 2px 3px 2px;
    border-radius: 980px;
    background-color: var(--bg1-color);
    gap: 10px;
    margin-right: 10px;
}

header .container .main-header div .input-search-icon input{width: 70%;}
header .container .main-header div .input-search-icon input svg {width: 30%;}

header .container .main-header  .desktop-category{
    gap: 23px;
}

header .container .main-header .cnt-desktop-category .desktop-category li a {
    font-family: "bold";
}

header .container .main-header .nike-logo{
    width: 30%;
    justify-content: flex-end;
}

header .container .main-header .nike-logo a {
    width: 60px;
    height: 60px;
}

header .container .main-header .nike-logo a svg {
    width: 100%;
    height: 100%;
}

header .container .mobile-menu-offic .cnt-main-menu{
    gap: 10px;
    align-items: flex-start;
}

header .container .container-mobile-menu{
    justify-content: flex-start;
}

.mobile-menu-offic{
    display: none;
}

header .container .mobile-menu-offic .container-mobile-menu .sign-wrapper .btns {
    gap: 10px;
}

main{
    display: grid;
    gap: 50px;
}
main .sec-1 .container .cnt-video-player{
    max-width: 100%;
    height: 100%;
}


main .sec-1 .container .cnt-video-player .video-player{
    right: 0;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

main .sec-1 .container .content-video-text .cnt-content-video-text{
    flex-direction: column;
    margin-top: 40px;
}

main .sec-1 .container .content-video-text .cnt-content-video-text h1 {
    font-family: "iran";
    margin: 20px;
}

main .sec-1 .container .content-video-text .cnt-content-video-text button{
    background-color: var(--bg-body-w-menu-i-o);
}

main .sec-1 .container .content-video-text .cnt-content-video-text button a {
    color: var(--main-bg-color);
}

main .sec-2 .container .cnt-cat .cnt-category-products{
    grid-template-columns: repeat(2,1fr);
}

main .sec-2 .container .cnt-cat .cnt-category-products figure{
    position: relative;
}

main .sec-2 .container .cnt-cat .cnt-category-products figure figcaption{
    display: grid;
    position: absolute;
    z-index: 1;
    right: 3rem;
    bottom:4rem;
}

main .sec-2 .container .cnt-cat .cnt-category-products figure figcaption .cnt-cap h3,
main .sec-2 .container .cnt-cat .cnt-category-products figure figcaption .cnt-cap p {
    text-align: right;
    margin: 10px;
}

main .sec-3 .container .cnt-energy a h1 {
    font-family: "black";
    font-weight: 900;
    margin: 5px 0px 12px 0px;
}

main .sec-3 .container .cnt-energy .shop a{
    color: var(--main-bg-color);
}

main .sec-5 .container{
    grid-template-columns: 1fr;
}

main .sec-5 .container .cnt-title-scrool-bar{
    justify-content: flex-start;
    width: 70%;
}

main .sec-5 .container .cnt-title-scrool-bar h2 {
    font-family: "black";
    font-weight: 900;
    font-size: 2.5rem;
    text-align: right;
}

main .sec-5 .container .container-s-b{
    height: 400px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}
main .sec-5 .container .container-s-b .cnt-scrool-bar{
    display: flex;
    position: absolute;
    transition-duration: 600ms;
    transform: translate3d(-109px, 0px, 0px);
}
main .sec-5 .container-s-b .cnt-scrool-bar .product-scrool{
    width: 225px;
    height: 338px;
    margin: 20px;
}

main .sec-5 .container-s-b #swiper-button{
    background-color: transparent ;
}

main .sec-5 .container-s-b .swiper-button-next{
    position: absolute;
    right: 0;
}

main .sec-5 .container-s-b .swiper-button-prev{
    position: absolute;
    left: 0;
}

main .sec-5 .container .container-s-b .p-rele button{
    width: 45px;
    height: 45px;
    background-color: var(--bg1-color);
}

main .sec-6 .container .cnt-nike-p{
    flex-direction: column;
    margin-top: 70px;
}

main .sec-6 .container .cnt-nike-p .nike-servises{
    margin-top: 40px;
}

main .sec-6 .container .cnt-nike-p .nike-servises ul{
    gap: 20px;
}

main .sec-6 .container .cnt-nike-p .cnt-p-category{
    margin-top: 80px;
    width: 100%;
}

main .sec-6 .container .cnt-nike-p .cnt-p-category .cnt-p-p{
    flex-direction: column;
}


main .sec-6 .container .cnt-nike-p .cnt-p-category .p-title-category {
    width: max-content;
    cursor: pointer;
}

main .sec-6 .container .cnt-nike-p .cnt-p-category .p-title-category h4{
    width: max-content;
    margin-bottom: 20px;
    font-family: "black";
}

main .sec-6 .container .cnt-nike-p .cnt-p-category .p-catcategory{
    margin-bottom: 30px;
}

main .sec-6 .container .cnt-nike-p .cnt-p-category .p-catcategory ul li a {
    color: var(--text-menu-color);
}

main .sec-7 .container .cnt-footer-content{
    flex-direction: column;
}

main .sec-7 .container .cnt-footer-content .footer-content .footer-title-list{
    flex-direction: column;
}

main .sec-7 .container .cnt-footer-content .footer-content .footer-title-list .footer-title{
    margin-bottom: 20px;
}

main .sec-7 .container .cnt-footer-content .footer-content .footer-title-list .footer-list-content ul li a{
    color: var(--text-menu-color);
}

main .sec-7 .container .cnt-accordion-menu{
    display: none;
}

main .sec-7 .container .cnt-accordion-menu .title-f{
    justify-content: space-between;
}

main .sec-7 .container .cnt-accordion-menu .content-f li{
    margin: 15px 0px;
}

main .sec-7 .container .cnt-accordion-menu .content-f li a {
    color: var(--text-menu-color);
}

main .sec-7 .container .cnt-accordion-menu .content-f {
    max-height: 0;
    overflow: hidden;
}

main .sec-7 .container .footer-copy-right{
    margin: 20px 0px;
}

.sec-8 .container .header{
    padding:20px 0px;
}

.sec-8 .container .header .Category-product-container{
    gap: 7px;
    justify-content: flex-start;
}

.sec-8 .container .header .filter-container{
    justify-content: flex-end;
    gap: 20px;
}

.sec-8 .container .header .filter-container .filter{
    cursor: pointer;
}

.sec-8 .container .header .filter-container .cnt-filter-by{
    position: relative;
}

.sec-8 .container .header .filter-container .cnt-filter-by .filter-titile{
    column-gap:7px ;
}

.sec-8 .container .header .filter-container .cnt-filter-by .filter-container-product .filter-btn-content{
    display: none;
    row-gap: 10px;
    position: absolute;
    width: max-content;
    right: 0px;
    top: 30px;
    background-color: var(--main-bg-color);
    padding: 10px 18px;
    border-radius: 10px;
}

.sec-8 .container .header .filter-container .cnt-filter-by .filter-container-product .filter-btn-content .btn-2:hover{
    color: #9E3500;
}

.sec-8 .container .products-container{
    justify-content: space-between;
    height: 100vh;
}

.sec-8 .container .products-container{
    grid-template-columns: repeat(3,1fr);
    margin-inline: auto;
    gap: 45px;
}

.sec-8 .container .products-container .product-cnt .cnt-data-product{
    align-items: flex-start;
}

.sec-8 .container .products-container .product-cnt .cnt-data-product .titile-cat span{
    color:var(--category-prodcut-color) ;
}

.sec-8 .container .products-container .product-cnt .cnt-data-product .titile-cat h4{
    font-family: "bold";
}

.sec-8 .container .products-container  .product-cnt .cnt-data-product .titile-cat p{
    color: var(--text-menu-color);
    text-align: right;
}

.sec-8 .container .products-container  .product-cnt .cnt-data-product .price-discount h4{
    font-family: "bold";
}

.sec-8 .container #Produts{
    height: max-content;
}

.sec-8 .container .count_product-filter_product {
    justify-content: space-between;
    display: none;
    margin: 40px 0px ;
}

.sec-8 .container .container-price-add-tcart {
    justify-content: space-between;
}

.sec-8 .container  .count_product-filter_product .filter_product .filter-btn-mobile{
    background-color: transparent;
    border: 1px solid var(--bg-body-w-menu-i-o);
    padding: 2px 10px;
    gap: 10px;
} 

.sec-8 .container  .count_product-filter_product .filter_product .filter-btn-mobile p {
    font-family: "bold";
}


/* FILTER OVERLEY  */

.container-overley-filter{
    background-color: var(--main-bg-color);
    position: fixed;
    z-index: 100;
    top: 150%;
    width: 100%;
    height: 100%;
    transition: top 0.4s ease-in-out;

}

.container-overley-filter .cnt-overley-filter{
    align-items: flex-start;
}

.container-overley-filter .cnt-overley-filter .title-overley-filter{
    justify-content: space-between;
}

.container-overley-filter .cnt-overley-filter .title-overley-filter #close-overley{
    width: 40px;
}

.container-overley-filter .cnt-overley-filter .content-overley-filter{
    align-items: flex-start;
}

.container-overley-filter .cnt-overley-filter .content-overley-filter .filter-btn-product {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}