section .container{
    width: 100%;
    max-width: 480px;
    margin-top: 40px;
}

section .container .login-header .nike-logo img{
    width: 48px;
}

section .container .login-header .h2-container h2{
    text-align: right;
    font-size: 28px;
}

section .container form .input-login-container{
    gap: 40px;
    
}